<div class="col-md-3">
  <div class="over-button">
    <%= link_to api.api_name, api.address, class: 'btn btn-lg btn btn-prim ry button-blue' %>
  </div>
  <%= link_to api.address do %>
    <%= image_tag api.apicture.url , :class => "img-rounded img-responsive centered bordered"  if api.apicture? %>
  <% end %>
   <% if logged_in? && current_user.admin?  %>
    <br>   <%= link_to "delete", api, method: :delete,
      data: { confirm: "You are sure?" } %>
    |   <%= link_to "update", api, method: :patch,
      data: { confirm: "You are sure?" } %>
  <% end %>
</div>
