<% provide(:title, "Log in") %>
<br><br>
<h1>Connexion</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
    <center><b>Renseigner l'email OU le login, et le mot de passe</b></center>
</br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :name, "Login" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password, "Mot de passe" %>
      <%= link_to "(mot de passe oublié)", impro_password_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Enregistrer le mot de passe sur cet ordinateur</span>
      <% end %>

      <%= f.submit "Se connecter", class: "btn button-red" %>
    <% end %>

    <p>Nouvel utilisateur? <%= link_to "S'inscrire", signup_impro_path %></p>
  </div>
</div>
