<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container button-red">
      <% #  link_to image_tag("impro_logo.png", :border => 0), "http://www.improvisades.org" ,{class: 'button-red'} %>
    <br><center>
    <%= link_to image_tag("https://lh3.googleusercontent.com/Mw-sGvCNMVFTqZjeY5DLxajqze8WbMBw2rYpW2T7RhBMNns-Mqf1dzLCK2r-67Ay_dAionwTdzrnkSGb27sGXOfzIl0iS7XaLamA_dm4Kr30lZQ7UyZCzMp79TIRoW4454P28oKXNKdRL-PEmbjMmZNHF4C32NU9Jnc8ojODFuw0WXQhdDQhUCf51Zc_MR8q611vJMDhKCbw6ge0EiHJHiFsWjGhUIqLZt1Um-EFQ85qgc99f2mB4ZgqF5Qyea3Zd6ln_DM8UqnNJijCHYWuJqvC2iKrfNu2ueYeQ1hZUOpOdI6OPx4MSx0Ka64rvAPOc_z4kXMKnu9_iSWwXcEjtVKCIAcKe3v47x4nkap6ol1T0l9FLyYdVx9czJjUa3JWEwWjrXNeLLrnTCNH8542aaaVJrGZe1tUp5emB2dBvz7qCJ4qCelMsd2VHqKtTl5HMzzbI7JLxPa0MgAGSuj2kPnN82s8JI2loYtWRoOrOh8-Hqj_8i1uCDT8EMIKbYCo3DZQAAVCeGS3D36l11TnKRcY4JVzP_Pndr2xDqsR_N9KChBRYKsJQndkdswC_TF2zHX72NBWZ5DpW-QHYBviHLWV_kGCGFHFY-KJ1IAVmsWT3ckAm2-6SN4PEK4SaF9i3hXELq8TkSqAQN4w3j75YfgxIMkEtCO653NLDR6erg=s100-no", :border => 0 ,:class => "img-responsive img-circle" ), matches_path ,{class: 'button-red'} %>
    <br></center>
    <nav class="navbar-fixed-top">
      <ul class="nav navbar-default navbar-right">
        <% if logged_in? %>
          <li class="nav-red">
                <%= link_to "Editer profil", profil_impro_path,{class: 'button-red'} %>
                <%= link_to "Deconnexion...", logout_path,{class: 'button-red', method: :delete} %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-red"><%= link_to "Nouvel utilisateur", signup_impro_path ,{class: 'button-red'}%></li>
          <li class="nav-red"><%= link_to "Connexion", login_impro_path ,{class: 'button-red'}%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
